@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    :root {
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;


        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;


        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;


        --foreground: 211 97% 12%;
        --background: 204 33% 97%;

        --card: 0 0% 100%;
        --card-foreground: 211 97% 12%;

        --hover: 205 86% 95%;
        --active: 206 44% 93%;
        --border: 220 13% 91%;

        --muted: 213 16% 53%;


        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --gradient-2: linear-gradient(250deg, #fff 2.51%, rgba(212, 241, 255, 0.54) 96.8%);
    }

    .dark {
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --ring: 212.7 26.8% 83.9%;

        --foreground: 0 0% 100%;
        --background: 221 39% 11%;

        --card: 215 28% 17%;
        --card-foreground: 0 0% 100%;

        --border: 217 19% 27%;
        --hover: 220 14% 96% 0.039;
        --active: 220 14% 96% 0.039;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --gradient-2: linear-gradient(250deg, #1f2937 2.51%, #2499ef47 100%);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: 0.875rem;
    }

    .glassy-overlay {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer utilities {

    /* ===== GRADIENT BACKGROUND ===== */
    .gradient-bg-1 {
        background: linear-gradient(180deg, rgba(0, 172, 255, 0.46) 0%, rgba(189, 0, 255, 0.35) 100%);
    }

    .gradient-bg-2 {
        background: var(--gradient-2);
    }

    .bg-skeleton {
        @apply bg-slate-200 dark:bg-slate-700;
    }
}

/* ===== SIMPLEBAR SCROLL BAR ===== */
.simplebar-scrollbar:before {
    @apply bg-slate-300 dark:bg-slate-600;
}

.simplebar-track.simplebar-horizontal {
    height: 9px;
}

.simplebar-track.simplebar-vertical {
    width: 9px;
    @apply rtl:left-0 rtl:right-auto;
}

/* ===== VUE-3 APEXCHART ===== */
.apexcharts-tooltip {
    @apply !shadow-lg !border-0 !rounded-lg;
}

.apexcharts-tooltip-title {
    @apply font-medium;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    @apply !border-b-gray-100 !bg-slate-100;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
    @apply !bg-slate-700 !border-b-gray-700;
}

.apexcharts-tooltip.apexcharts-theme-dark,
.apexcharts-xaxistooltip.apexcharts-theme-dark {
    @apply !bg-slate-700/70;
}

.apexcharts-xaxistooltip {
    @apply !shadow !border-0 !rounded-lg font-medium;
}

.apexcharts-xaxistooltip-bottom:before {
    @apply !border-0;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
    @apply !border-slate-700/70;
}

.apexcharts-legend-marker {
    @apply rtl: !ml-1 rtl: !mr-auto rtl: !left-0;
}

.apexcharts-tooltip-series-group {
    @apply rtl: !text-right;
}

.apexcharts-tooltip-marker {
    @apply rtl: !ml-2 rtl: !mr-auto;
}

/* ===== N-PROGRESS ===== */
#nprogress .bar {
    z-index: 9999 !important;
    @apply !bg-primary;
}

#nprogress .peg {
    @apply !shadow-none;
}
